#root {
  max-width: 1440px;
  min-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 576px){
  #root {
    min-width: 100vw;
  }
}
@media screen and (min-width:577px) and (max-width:768px) {
  #root {
    max-width: 768px;
    min-width: 768px;
  }
}